@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  height: 120px;
  z-index: 1000;
  transition: background-color 0.3s;
}
.nav.scrolled {
  background-color: #29679F;
}
.nav .nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.nav .nav-head .nav-logo {
  position: relative;
  left: 130px;
  width: 148px;
  height: 50px;
}
.nav .nav-head .nav-logo img {
  width: 100%;
  height: auto;
}
.nav .nav-head .nav-menu {
  position: relative;
  left: 210px;
}
.nav .nav-head .nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav .nav-head .nav-menu ul li {
  display: inline-block;
  margin-right: 40px;
}
.nav .nav-head .nav-menu ul li a {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}
.nav .nav-head .nav-menu ul li a:hover {
  color: #1e1e1e;
}
.nav .nav-button {
  position: relative;
  top: 33PX;
  left: 600px;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2222%22%20viewBox%3D%220%200%2021%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20id%3D%22vuesax%2Flinear%2Farrow-down%22%3E%3Cg%20id%3D%22arrow-down%22%3E%3Cpath%20id%3D%22Vector%22%20d%3D%22M17.7687%207.29761L11.6727%2014.1001C10.9528%2014.9034%209.77473%2014.9034%209.0548%2014.1001L2.9588%207.29761%22%20stroke%3D%22white%22%20stroke-width%3D%221.69697%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat right 25px center;
  background-size: 20px;
  width: 221px;
  height: 52px;
  gap: 12px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #15548D;
}
.nav .nav-button img {
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 10px;
}
.nav .nav-button select {
  position: relative;
  right: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav .nav-button select::-ms-expand {
  display: none;
}
.nav .nav-button select::after {
  content: "▼";
  font-size: 12px;
  color: white;
  margin-left: 10px;
}
.nav .nav-button select option {
  background: white;
  color: black;
}

.s-hero {
  width: 100%;
  height: 720px;
  background-color: #15548D;
}
.s-hero .s-hero-img {
  position: absolute;
  width: 610px;
  height: 790px;
  right: 0px;
  border-radius: 0px 0px 0px 80px;
}
.s-hero .s-hero-content-path {
  position: relative;
  top: 206px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}
.s-hero .s-hero-content-path img {
  width: 30px;
  height: 3px;
  align-items: center;
}
.s-hero .s-hero-content-path h2 {
  width: 257px;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 16px */
  text-transform: uppercase;
  margin-bottom: 0;
}
.s-hero .s-hero-content-tittle {
  position: relative;
  top: 253px;
  color: #FFFFFF;
  width: 675px;
  height: 204px;
}
.s-hero .s-hero-content-tittle h1 {
  width: 100%;
  height: 118px;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.9px;
  font-family: "Outfit", sans-serif;
}
.s-hero .s-hero-content-tittle p {
  width: 645px;
  height: 70px;
  position: relative;
  top: 16px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 35.2px;
  font-family: "Outfit", sans-serif;
}
.s-hero .s-hero-button {
  width: 404.7px;
  height: 74px;
  position: relative;
  top: 293px;
}
.s-hero .s-hero-button .s-hero-button-primary {
  border: #FAC568;
  display: flex;
  width: 404.7px;
  height: 74px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1000px;
  background-color: #FAC568;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
}
.s-hero .s-hero-scroll {
  position: absolute;
  left: 39px;
  top: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 37px;
  height: 102px;
}
.s-hero .s-hero-scroll h4 {
  width: 54px;
  height: 37px;
  transform: rotate(90deg);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-style: normal;
  line-height: 35.2px;
}
.s-hero .s-hero-scroll img {
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
}

.s-workflow {
  background-color: #ffffff;
  width: 100%;
  height: 720px;
}
.s-workflow .s-workflow-head {
  position: relative;
  top: 17px;
  width: 589px;
  height: 143px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.s-workflow .s-workflow-head .s-workflow-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-workflow .s-workflow-head .s-workflow-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-workflow .s-workflow-head .s-workflow-head-tittle {
  margin-top: 24px;
  color: #333333;
  font-family: "Outfit", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.5px; /* 52.5px */
}
.s-workflow .s-workflow-item-1 {
  width: 261.415px;
  height: 290.865px;
  position: absolute;
  top: 1099px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-img-1 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-img-1 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-tittle-1 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-tittle-1 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-deskripsi-1 {
  margin-top: 8.34px;
  width: 261.415px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-deskripsi-1 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}
.s-workflow .s-workflow-item-2 {
  width: 286.495px;
  height: 290.865px;
  flex-shrink: 0;
  position: absolute;
  top: 1018px;
  margin-left: 289.35px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-img-2 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-img-2 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-tittle-2 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-tittle-2 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-deskripsi-2 {
  margin-top: 8.34px;
  width: 285.531px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-deskripsi-2 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}
.s-workflow .s-workflow-item-3 {
  width: 321px;
  height: 297.806px;
  position: absolute;
  top: 1056px;
  margin-left: 651px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-img-3 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-img-3 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-tittle-3 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-tittle-3 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-deskripsi-3 {
  margin-top: 8.34px;
  width: 321px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-deskripsi-3 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}
.s-workflow .s-workflow-item-4 {
  width: 293.226px;
  height: 297.613px;
  position: absolute;
  top: 932px;
  margin-left: 953px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-img-4 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-img-4 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-tittle-4 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-tittle-4 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-deskripsi-4 {
  margin-top: 8.34px;
  width: 293.226px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-deskripsi-4 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}

.s-services {
  background-color: #F7F8FD;
  width: 100%;
  height: 705px;
}
.s-services .s-services-head {
  position: relative;
  top: 92px;
  width: 1, 181px;
  height: 94px;
}
.s-services .s-services-head .s-services-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-services .s-services-head .s-services-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-services .s-services-head .s-services-head-tittle {
  margin-top: 24px;
  color: #333333;
  font-family: "Outfit", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 52.5px */
}
.s-services .s-services-content {
  position: relative;
  top: 139px;
  width: 1183px;
  height: 370px;
  justify-content: space-between;
  gap: 59px;
  display: flex;
}
.s-services .s-services-content .s-services-content-card {
  width: 355px;
  height: 370px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-marker {
  position: absolute;
  top: 38px;
  right: 35px;
  font-size: 24px;
  color: #FBBF24;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-marker h2 {
  color: #FAC568;
  text-align: right;
  font-family: "Outfit", sans-serif;
  font-size: 31.123px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 31.123px */
  text-transform: uppercase;
  margin: 0;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-img {
  margin-top: 34px;
  margin-left: 40.3px;
  width: 138.108px;
  height: 140px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-img img {
  width: 138.108px;
  height: 140px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-title {
  width: 254px;
  height: 72px;
  margin-top: 14px;
  margin-left: 40px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-title h1 {
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 36.4px */
  text-transform: capitalize;
  text-align: left;
}
.s-services .s-services-content .s-services-content-card button {
  margin-top: 23px;
  margin-left: 36px;
  display: flex;
  width: 200px;
  height: 48px;
  align-items: center;
  gap: 14.501px;
  padding-left: 30px;
  color: #000;
  font-size: 17.22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 27.551px */
  text-transform: capitalize;
  font-family: "Outfit", sans-serif;
  background-color: #FAC568;
  border: none;
  border-radius: 9000px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.s-services .s-services-content .s-services-content-card button:hover {
  background-color: #e6a700;
}
.s-services .s-services-content .s-services-content-card button img {
  display: flex;
  width: 27.189px;
  height: 27.189px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.s-project .s-project-head {
  position: absolute;
  top: 2269px;
  width: 1182px;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-project .s-project-head .s-project-head-path {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 28.4px;
  width: 100%;
}
.s-project .s-project-head .s-project-head-path h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.s-project .s-project-head .s-project-head-tittle {
  position: relative;
  top: 22px;
}
.s-project .s-project-head .s-project-head-tittle h1 {
  font-size: 34px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  text-align: center;
}
.s-project .s-project-content {
  width: 1182px;
  height: 380px;
}
.s-project .s-project-content .s-project-content-deskripsi {
  position: absolute;
  left: 101px;
  top: 105.87px;
  width: 618.55px;
  height: 169.36px;
  font-family: "Outfit", sans-serif;
  text-align: left;
}
.s-project .s-project-content .s-project-content-deskripsi h6 {
  width: 618.55px;
  height: 28.76px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 3%;
  color: #000000;
  margin-bottom: 26.88px;
}
.s-project .s-project-content .s-project-content-deskripsi h1 {
  color: #333333;
  width: 618.55px;
  font-family: "Outfit", sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 53px */
  margin-bottom: 20.14px;
}
.s-project .s-project-content .s-project-content-deskripsi p {
  color: #404040;
  height: 32px;
  width: 482.98px;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
}
.s-project .s-project-content .s-project-content-detail {
  width: 230.72px;
  height: 48px;
  position: absolute;
  top: 265px;
  left: 860px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-project .s-project-content .s-project-content-detail .s-project-content-detail-button {
  width: 59.08px;
  height: 59.16px;
  border-radius: 84.45px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-project .s-project-content .s-project-content-detail .s-project-content-detail-button img {
  width: 33px;
  height: 33px;
  color: #ccc;
  transform: rotate(180deg);
}
.s-project .s-project-content .s-project-content-detail h5 {
  width: 148px;
  height: 29px;
  text-align: left;
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 28.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28.715px */
}

.project-swiper {
  width: 1182px;
  height: 380px;
  position: absolute;
  top: 300px;
}

.project-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-button-next, .project-button-prev {
  width: 96px !important;
  height: 96px !important;
  border-radius: 106.67px !important;
  background-color: #FAC568 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-button-next::after, .project-button-prev::after {
  display: none; /* Menghilangkan panah default Swiper */
}

.project-button-next {
  position: relative !important;
  top: 113px !important;
  left: 1145px !important;
}

.project-button-prev {
  position: relative !important;
  top: 23px !important;
  left: -60px !important;
}

.project-button-prev svg {
  transform: rotate(180deg);
}

.project-button-next svg, .project-button-prev svg {
  width: 48px !important; /* Set width of the SVG */
  height: 48px !important; /* Set height of the SVG */
}

.s-testimonial {
  background-color: #F7F8FD;
  width: 100%;
  height: 690px;
  position: absolute;
  top: 2892px;
}
.s-testimonial .s-testimonial-head {
  position: relative;
  top: 92px;
  width: 665.02px;
  height: 97.19px;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-tittle {
  margin-top: 28px;
  color: #333333;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-tittle h1 {
  font-family: "Outfit", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 55.5px */
}
.s-testimonial .s-testimonial-img {
  position: absolute;
  top: 59px;
  width: 580.41px;
  height: 571.71px;
  right: 0; /* Menempatkan elemen ke bagian paling kiri */
  margin-right: 0px;
  border-radius: 60px 0px 0px 60px; /* Memperbaiki sintaks penulisan untuk border-radius */
}
.s-testimonial .s-testimonial-quote {
  position: relative;
  width: 526.38px;
  height: 193px;
  top: 138px;
  left: 29.12px;
  display: flex; /* Menjadikan elemen ini sebagai flex container */
  justify-content: space-between; /* Menyebarkan elemen anak di sepanjang container dengan ruang di antara mereka */
}
.s-testimonial .s-testimonial-quote img {
  width: 44.64px;
  height: 44px;
}
.s-testimonial .s-testimonial-quote p {
  color: #000000;
  font-family: "Outfit", sans-serif;
  width: 458px;
  height: 193px;
  font-size: 26px;
  font-weight: 300;
  line-height: 37.7px;
  text-align: left;
}
.s-testimonial .s-testimonial-name {
  position: relative;
  width: 256.52px;
  height: 81px;
  top: 181px;
  display: flex; /* Menjadikan elemen ini sebagai flex container */
  justify-content: space-between; /* Menyebarkan elemen anak di sepanjang container dengan ruang di antara mereka */
}
.s-testimonial .s-testimonial-name img {
  width: 97.86px;
  height: 95px;
  margin-right: 26px;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity {
  width: 256.52px;
  height: 81px;
  color: #000000;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity h4 {
  width: 256.52px;
  height: 39px;
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 39.15px;
  text-align: left;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity h5 {
  width: 256.52px;
  height: 39px;
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 39.15px;
  text-align: left;
}

.testimonial-swiper {
  top: 59px !important;
  border-radius: 60px 0 0 60px !important;
  position: absolute !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 580.41px !important;
  height: 571.71px !important;
  right: 0 !important;
}

.testimonial-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-slide img {
  width: 100%;
  height: 100%;
}

.s-testimonial-swiper-button {
  z-index: 100;
  position: absolute;
  top: 132px;
  right: 500px;
  display: flex;
  width: 160.114px;
  height: 78px;
  padding: 8.889px 0px;
  justify-content: center;
  align-items: center;
  gap: 13.824px;
  flex-shrink: 0;
  border-radius: 88.889px;
  background-color: #29679F;
}

.testimonial-button-next, .testimonial-button-prev {
  left: 0;
  right: 0;
  display: flex;
  width: 48.889px !important;
  height: 48.889px !important;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
}

.testimonial-button-next::after, .testimonial-button-prev::after {
  display: none;
}

.testimonial-button-prev svg {
  transform: rotate(180deg);
}

.s-kontak {
  width: 100%;
  position: absolute;
  height: 741px;
  top: 3590px;
}
.s-kontak .s-kontak-head {
  position: relative;
  top: 185px;
  width: 460px;
  height: 296px;
  align-items: center;
}
.s-kontak .s-kontak-head .s-kontak-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-kontak .s-kontak-head .s-kontak-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-kontak .s-kontak-head .s-kontak-head-tittle {
  color: #052925;
}
.s-kontak .s-kontak-head .s-kontak-head-tittle h1 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 158.824% */
  margin-bottom: 20px;
}
.s-kontak .s-kontak-head .s-kontak-hr {
  width: 141px;
  height: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.s-kontak .s-kontak-head .s-kontak-head-deskripsi {
  width: 460px;
  height: 108px;
  color: #052925;
}
.s-kontak .s-kontak-head .s-kontak-head-deskripsi p {
  text-align: left;
  color: #052925;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 180% */
}
.s-kontak .s-kontak-form {
  position: absolute;
  top: 134px;
  right: 166px;
  background-color: #F8F8F8;
  width: 518px;
  height: 500px;
  border-radius: 20px;
  padding: 40px 40px 29px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.s-kontak .s-kontak-form label {
  align-self: stretch;
  color: #052925;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  margin-bottom: 10px;
}
.s-kontak .s-kontak-form .form-label-perusahaan {
  margin-top: 29px;
}
.s-kontak .s-kontak-form .form-label-nomor {
  margin-top: 29px;
}
.s-kontak .s-kontak-form input[type=text] {
  margin-bottom: 10px;
  width: 100%;
  height: 53px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #AFAFAF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  margin-bottom: 0px;
}
.s-kontak .s-kontak-form input[type=text]:focus {
  outline: 2px solid #FAC568;
}
.s-kontak .s-kontak-form .form-input-nomor {
  margin-bottom: 36px;
}
.s-kontak .s-kontak-form button {
  display: flex;
  width: 438px;
  height: 72px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 36px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 125% */
  background-color: #FAC568;
  color: #000000;
  border: none;
  border-radius: 9000px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.s-kontak .s-kontak-form button:hover {
  background-color: #e6a700;
}

.s-footer {
  background-color: #15548D;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 4343px;
  color: white;
}
.s-footer .s-footer-logo {
  position: relative;
  margin-top: 91px;
  width: 192.4px;
  height: 65px;
  margin-bottom: 0;
}
.s-footer .s-footer-logo img {
  width: 100%;
  height: auto;
}
.s-footer .footer-sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 63.92px;
  margin-bottom: 61px;
}
.s-footer .footer-sections .section {
  flex: 1;
}
.s-footer .footer-sections .section h4 {
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.5px */
  margin-bottom: 15px;
}
.s-footer .footer-sections .section ul {
  list-style: none;
  padding: 0;
}
.s-footer .footer-sections .section ul li {
  margin-bottom: 10px;
}
.s-footer .footer-sections .section ul li a {
  text-decoration: none;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 31.5px */
}
.s-footer .footer-sections .section ul li a:hover {
  text-decoration: underline;
}
.s-footer .social-media {
  display: flex;
  justify-content: left;
  margin-top: 30px;
}
.s-footer .social-media img {
  margin-right: 16px;
  color: white;
  font-size: 20px;
}
.s-footer .social-media img:hover {
  color: #aaa;
}
.s-footer hr {
  background-color: rgba(255, 255, 255, 0.6);
}
.s-footer .s-footer-bottom {
  top: 51px;
  width: 1, 181px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 51px;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform {
  width: 210px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 0;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul {
  list-style: none;
  margin-bottom: 0;
  height: 78px;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul li {
  list-style: none;
  margin-bottom: 0;
  height: 32px;
  top: 14px;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul li a {
  color: #FFFFFF;
  text-decoration: underline;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 31.5px */
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul .inform-down {
  margin-top: 14px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0;
  width: 375.03px;
  height: 56px;
  gap: 16.97px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector img {
  width: 44.12px;
  height: 44.12px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector .s-footer-bottom-language-selector-select {
  position: relative;
  display: inline-block;
  background-color: #29679F;
  width: 313.94px;
  height: 56px;
  border-radius: 1696.97px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector .s-footer-bottom-language-selector-select select {
  display: flex;
  width: 313.94px;
  height: 56px;
  padding: 8.485px 25.455px;
  justify-content: space-between;
  align-items: center;
  border-radius: 1696.97px;
  -webkit-appearance: none; /* Hapus panah default di Safari dan Chrome */
  -moz-appearance: none; /* Hapus panah default di Firefox */
  appearance: none; /* Hapus panah default di browser lain */
  background-color: #29679F;
  color: rgb(255, 255, 255);
  cursor: pointer;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 20.364px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30.545px */
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2222%22%20viewBox%3D%220%200%2021%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20id%3D%22vuesax%2Flinear%2Farrow-down%22%3E%3Cg%20id%3D%22arrow-down%22%3E%3Cpath%20id%3D%22Vector%22%20d%3D%22M17.7687%207.29761L11.6727%2014.1001C10.9528%2014.9034%209.77473%2014.9034%209.0548%2014.1001L2.9588%207.29761%22%20stroke%3D%22white%22%20stroke-width%3D%221.69697%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat right 25px center;
  background-size: 20px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector .s-footer-bottom-language-selector-select select option {
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 20.364px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30.545px */
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector .s-footer-bottom-language-selector-select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  pointer-events: none;
  transform: translateY(-50%);
}
.s-footer .s-footer-copy {
  position: relative;
  width: 534px;
  height: 33px;
  top: 65px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  line-height: 33px;
  text-align: left;
  font-size: 21px;
  font-style: normal;
  line-height: 150%; /* 33px */
}
.s-footer .s-footer-copy a {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */