* {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  width: 100%;
  background: transparent;
  height: 120px;
  z-index: 1000;
  transition: background-color 0.3s;
  align-items: center;
}
.nav.scrolled {
  background-color: #29679F;
}
.nav .nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav .nav-head .nav-logo {
  width: 248px;
  height: 50px;
  margin-right: 60px;
}
.nav .nav-head .nav-logo img {
  width: 100%;
  height: auto;
  align-items: center;
}
.nav .nav-head .nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav .nav-head .nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.nav .nav-head .nav-menu ul li {
  margin-right: 40px;
}
.nav .nav-head .nav-menu ul li a {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22.68px;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s;
}
.nav .nav-head .nav-menu ul li a:hover {
  color: #1e1e1e;
}
.nav .nav-button {
  display: flex;
  align-items: center;
  background-color: #15548D;
  width: 330px;
  height: 52px;
  border-radius: 10px;
  padding: 0 12px;
  position: relative; /* Ensure the parent is positioned relatively */
}
.nav .nav-button img {
  margin: 0 10px;
}
.nav .nav-button select {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #15548D;
  border: none;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  padding-right: 30px; /* Ensure space for the arrow */
}
.nav .nav-button select::-ms-expand {
  display: none;
}
.nav .nav-button::before {
  content: ""; /* Add content property */
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20id%3D%22vuesax%2Flinear%2Farrow-down%22%3E%3Cg%20id%3D%22arrow-down%22%3E%3Cpath%20id%3D%22Vector%22%20d%3D%22M17.2727%206.36353L11.2856%2013.0445C10.5785%2013.8335%209.42151%2013.8335%208.71444%2013.0445L2.72729%206.36353%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat center;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
}

.s-hero {
  width: 100%;
  height: 720px;
  background-color: #15548D;
}
.s-hero .s-hero-img {
  position: absolute;
  width: 610px;
  height: 790px;
  right: 0px;
  border-radius: 0px 0px 0px 80px;
  z-index: 3;
}
.s-hero .s-hero-content-path {
  margin-top: 206px;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  gap: 14px;
}
.s-hero .s-hero-content-path img {
  width: 30px;
  height: 3px;
  align-items: center;
  z-index: 10;
}
.s-hero .s-hero-content-path h2 {
  width: 257px;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 16px */
  text-transform: uppercase;
  margin-bottom: 0;
  z-index: 10;
}
.s-hero .s-hero-content-tittle {
  margin-top: 31px;
  color: #FFFFFF;
  width: 675px;
  height: 204px;
}
.s-hero .s-hero-content-tittle h1 {
  width: 100%;
  height: 118px;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 58.9px;
  font-family: "Outfit", sans-serif;
  z-index: 10;
}
.s-hero .s-hero-content-tittle p {
  width: 645px;
  height: 70px;
  position: relative;
  top: 16px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 35.2px;
  font-family: "Outfit", sans-serif;
  z-index: 10;
}
.s-hero .s-hero-button {
  width: 404.7px;
  height: 74px;
  margin-top: 36px;
}
.s-hero .s-hero-button .s-hero-button-primary {
  border: #FAC568;
  display: flex;
  width: 404.7px;
  height: 74px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 1000px;
  background-color: #FAC568;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 39px;
}
.s-hero .s-hero-scroll {
  position: absolute;
  left: 39px;
  bottom: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 37px;
  height: 102px;
  z-index: 2;
  animation: jump 0.8s infinite;
}
.s-hero .s-hero-scroll h4 {
  width: 54px;
  height: 37px;
  transform: rotate(90deg);
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #FFFFFF;
  font-size: 22px;
  font-style: normal;
  line-height: 35.2px;
}
.s-hero .s-hero-scroll img {
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
}
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.s-hero::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 720px;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%22865%22%20height%3D%22787%22%20viewBox%3D%220%200%20865%20787%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M813.5%201C802.902%2056.6169%20638.067%20209.954%20454%20143C269.933%2076.0459%2075.597%20181.655%20-1%20143%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.3%22/%3E%3Cpath%20d%3D%22M0%20289.686C0%20289.686%20116.015%20394.801%20339%20281.686C490.769%20204.698%20647.351%20421.613%20811.5%20377.186%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.3%22/%3E%3Cpath%20d%3D%22M0%20492C168.986%20336.609%20337.275%20532.8%20501.109%20316.246C664.944%2099.6923%20864%20316.246%20864%20316.246%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.3%22/%3E%3Cpath%20d%3D%22M-1.5%20697C-1.5%20697%2041.4996%20787.664%20261.5%20609C481.5%20430.336%20741%20712%20809.5%20546.5%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.3%22/%3E%3Cpath%20d%3D%22M-2%20423.851C164.173%20388.065%20200.787%20699.399%20572%20786%22%20stroke%3D%22white%22%20stroke-opacity%3D%220.3%22/%3E%3C/svg%3E") no-repeat center;
  background-size: cover;
  z-index: 1;
}

.s-workflow {
  background-color: #ffffff;
  width: 100%;
  height: 800px;
  cursor: url("../assets/icon/cursor.svg"), auto;
}
.s-workflow .s-workflow-line {
  width: 100%;
  position: absolute;
  top: 790px;
  z-index: 2;
}
.s-workflow .s-workflow-head {
  position: relative;
  margin-top: 98px;
  width: 589px;
  height: 143px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20; /* Tambahkan z-index lebih tinggi */
}
.s-workflow .s-workflow-head .s-workflow-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-workflow .s-workflow-head .s-workflow-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-workflow .s-workflow-head .s-workflow-head-tittle {
  margin-top: 24px;
  color: #333333;
  font-family: "Outfit", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.5px;
}
.s-workflow .s-workflow-card {
  display: flex;
  width: 100%;
  z-index: 20;
}
.s-workflow .s-workflow-item-1 {
  margin-top: 138px;
  position: relative; /* Tambahkan position */
  z-index: 20; /* Tambahkan z-index lebih tinggi */
}
.s-workflow .s-workflow-item-1 .s-workflow-item-img-1 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-img-1 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-tittle-1 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-tittle-1 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-deskripsi-1 {
  margin-top: 8.34px;
  width: 261.415px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-1 .s-workflow-item-content-1 .s-workflow-item-content-deskripsi-1 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}
.s-workflow .s-workflow-item-2 {
  margin-top: 57px;
  margin-left: -30px;
  position: relative; /* Tambahkan position */
  z-index: 20; /* Tambahkan z-index lebih tinggi */
}
.s-workflow .s-workflow-item-2 .s-workflow-item-img-2 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-img-2 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-tittle-2 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-tittle-2 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-deskripsi-2 {
  margin-top: 8.34px;
  width: 285.531px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-2 .s-workflow-item-content-2 .s-workflow-item-content-deskripsi-2 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}
.s-workflow .s-workflow-item-3 {
  margin-top: 95px;
  margin-left: 30px;
  position: relative; /* Tambahkan position */
  z-index: 20; /* Tambahkan z-index lebih tinggi */
}
.s-workflow .s-workflow-item-3 .s-workflow-item-img-3 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-img-3 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-tittle-3 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-tittle-3 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-deskripsi-3 {
  margin-top: 8.34px;
  width: 321px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-3 .s-workflow-item-content-3 .s-workflow-item-content-deskripsi-3 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}
.s-workflow .s-workflow-item-4 {
  margin-left: 30px;
  position: relative; /* Tambahkan position */
  z-index: 20; /* Tambahkan z-index lebih tinggi */
}
.s-workflow .s-workflow-item-4 .s-workflow-item-img-4 {
  width: 150px;
  height: 150px;
  border-radius: 868.17px;
  box-shadow: 0px 4.82px 38.59px 0px #FFF0DE;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-img-4 img {
  width: 96.46px;
  height: 96.46px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 {
  color: #333333;
  font-family: "Outfit", sans-serif;
  width: 261.41px;
  height: 119.34px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-tittle-4 {
  margin-top: 21.53px;
  width: 210.289px;
  height: 33px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-tittle-4 h2 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-deskripsi-4 {
  margin-top: 8.34px;
  width: 293.226px;
  height: 78px;
  font-weight: 300;
  font-size: 17px;
  line-height: 33px;
}
.s-workflow .s-workflow-item-4 .s-workflow-item-content-4 .s-workflow-item-content-deskripsi-4 p {
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 25.5px */
  margin-bottom: 0;
}

.s-services {
  background-color: #F7F8FD;
  width: 100%;
  height: 705px;
}
.s-services .s-services-head {
  position: relative;
  margin-top: 92px;
  width: 100%;
  height: 94px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.s-services .s-services-head .s-services-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-services .s-services-head .s-services-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-services .s-services-head .s-services-head-tittle {
  margin-top: 24px;
  color: #333333;
  font-family: "Outfit", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 52.5px */
}
.s-services .s-services-content {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 370px;
  justify-content: space-between;
  gap: 59px;
  display: flex;
  z-index: 2;
}
.s-services .s-services-content .s-services-content-card {
  width: 100%;
  height: 370px;
  background-color: #fff;
  border-radius: 32px;
  border: 0.973px solid #DDD;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 1;
}
.s-services .s-services-content .s-services-content-card:hover {
  transform: scale(1.05);
  z-index: 10;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-marker {
  position: absolute;
  top: 38px;
  right: 35px;
  font-size: 24px;
  color: #FBBF24;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-marker h2 {
  color: #FAC568;
  text-align: right;
  font-family: "Outfit", sans-serif;
  font-size: 31.123px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 31.123px */
  text-transform: uppercase;
  margin: 0;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-img {
  margin-top: 34px;
  margin-left: 40.3px;
  width: 138.108px;
  height: 140px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-img img {
  width: 138.108px;
  height: 140px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-title {
  width: 254px;
  height: 72px;
  margin-top: 14px;
  margin-left: 40px;
}
.s-services .s-services-content .s-services-content-card .s-services-content-card-title h1 {
  color: #000;
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 36.4px */
  text-transform: capitalize;
  text-align: left;
}
.s-services .s-services-content .s-services-content-card button {
  margin-top: 23px;
  margin-left: 36px;
  display: flex;
  width: 200px;
  height: 48px;
  align-items: center;
  gap: 14.501px;
  padding-left: 30px;
  color: #000;
  font-size: 17.22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 27.551px */
  text-transform: capitalize;
  font-family: "Outfit", sans-serif;
  background-color: #FAC568;
  border: none;
  border-radius: 9000px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.s-services .s-services-content .s-services-content-card button:hover {
  background-color: #e6a700;
}
.s-services .s-services-content .s-services-content-card button img {
  display: flex;
  width: 27.189px;
  height: 27.189px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.s-services::after {
  content: "";
  position: absolute;
  background: url("../assets/icon/services-bg.png");
  width: 784.398px;
  height: 560px;
  right: 0;
  top: 1583px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 0;
}

.s-project {
  width: 100%;
  height: 700px;
}
.s-project .s-project-head {
  position: relative;
  margin-top: 80px;
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s-project .s-project-head .s-project-head-path {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 28.4px;
  width: 100%;
}
.s-project .s-project-head .s-project-head-path h2 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.s-project .s-project-head .s-project-head-tittle {
  position: relative;
  margin-top: 22px;
}
.s-project .s-project-head .s-project-head-tittle h1 {
  font-size: 34px;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  text-align: center;
}
.s-project .s-project-content {
  width: 100%;
  height: 380px;
}
.s-project .s-project-content .s-project-content-deskripsi {
  position: absolute;
  margin-left: 101px;
  margin-top: 105.87px;
  width: 618.55px;
  height: 169.36px;
  font-family: "Outfit", sans-serif;
  text-align: left;
}
.s-project .s-project-content .s-project-content-deskripsi h6 {
  width: 618.55px;
  height: 28.76px;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 3%;
  color: #000000;
  margin-bottom: 26.88px;
}
.s-project .s-project-content .s-project-content-deskripsi h1 {
  color: #333333;
  width: 618.55px;
  font-family: "Outfit", sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 53px */
  margin-bottom: 20.14px;
}
.s-project .s-project-content .s-project-content-deskripsi p {
  color: #404040;
  height: 32px;
  width: 482.98px;
  font-weight: 300;
  font-size: 32px;
  line-height: 32px;
}
.s-project .s-project-content .s-project-content-detail {
  width: 230.72px;
  height: 48px;
  position: absolute;
  bottom: 76px;
  right: 91px;
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-project .s-project-content .s-project-content-detail .s-project-content-detail-button {
  width: 59.08px;
  height: 59.16px;
  border-radius: 84.45px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-project .s-project-content .s-project-content-detail .s-project-content-detail-button img {
  width: 33px;
  height: 33px;
  color: #ccc;
  transform: rotate(180deg);
}
.s-project .s-project-content .s-project-content-detail h5 {
  width: 148px;
  height: 29px;
  text-align: left;
  color: #333;
  font-family: "Outfit", sans-serif;
  font-size: 28.715px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 28.715px */
}

.project-swiper {
  width: 100%;
  height: 380px;
  position: relative;
  margin-top: 68px;
}

.project-wrapper {
  gap: 300px;
}

.project-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-button-next, .project-button-prev {
  width: 96px !important;
  height: 96px !important;
  border-radius: 106.67px !important;
  background-color: #FAC568 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-button-next::after, .project-button-prev::after {
  display: none; /* Menghilangkan panah default Swiper */
}

.project-button-next {
  position: relative !important;
  bottom: 220px !important;
  left: 1075px !important;
}

.project-button-prev {
  position: relative !important;
  bottom: 300px !important;
  left: -60px !important;
}

.project-button-prev svg {
  transform: rotate(180deg);
}

.project-button-next svg, .project-button-prev svg {
  width: 48px !important; /* Set width of the SVG */
  height: 48px !important; /* Set height of the SVG */
}

.s-testimonial {
  background-color: #F7F8FD;
  width: 100%;
  height: 690px;
}
.s-testimonial .s-testimonial-head {
  width: 100%;
  height: 97.19px;
  position: relative;
  margin-top: 92px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-tittle {
  margin-top: 28px;
  color: #333333;
}
.s-testimonial .s-testimonial-head .s-testimonial-head-tittle h1 {
  font-family: "Outfit", sans-serif;
  font-size: 37px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 55.5px */
}
.s-testimonial .s-testimonial-quote {
  position: relative;
  width: 526.38px;
  height: 193px;
  margin-top: 38px;
  margin-left: 29.12px;
  display: flex; /* Menjadikan elemen ini sebagai flex container */
  justify-content: space-between; /* Menyebarkan elemen anak di sepanjang container dengan ruang di antara mereka */
}
.s-testimonial .s-testimonial-quote img {
  width: 44.64px;
  height: 44px;
}
.s-testimonial .s-testimonial-quote p {
  color: #000000;
  font-family: "Outfit", sans-serif;
  width: 458px;
  height: 193px;
  font-size: 26px;
  font-weight: 300;
  line-height: 37.7px;
  text-align: left;
  margin-bottom: 0;
}
.s-testimonial .s-testimonial-name {
  position: relative;
  width: 256.52px;
  height: 81px;
  margin-top: 60px;
  display: flex; /* Menjadikan elemen ini sebagai flex container */
  justify-content: space-between; /* Menyebarkan elemen anak di sepanjang container dengan ruang di antara mereka */
}
.s-testimonial .s-testimonial-name img {
  width: 97.86px;
  height: 95px;
  margin-right: 26px;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity {
  width: 256.52px;
  height: 81px;
  color: #000000;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity h4 {
  width: 256.52px;
  height: 39px;
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 600;
  line-height: 39.15px;
  text-align: left;
}
.s-testimonial .s-testimonial-name .s-testimonial-name-idendtity h5 {
  width: 256.52px;
  height: 39px;
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  font-weight: 300;
  line-height: 39.15px;
  text-align: left;
}

.testimonial-swiper {
  top: 3070px !important;
  border-radius: 60px 0 0 60px !important;
  position: absolute !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 580.41px !important;
  height: 571.71px !important;
  right: 0 !important;
}

.testimonial-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-slide img {
  width: 100%;
  height: 100%;
}

.s-testimonial-swiper-button {
  z-index: 100;
  position: absolute;
  top: 3157px !important;
  right: 500px;
  display: flex;
  width: 160.114px;
  height: 78px;
  padding: 8.889px 0px;
  justify-content: center;
  align-items: center;
  gap: 13.824px;
  flex-shrink: 0;
  border-radius: 88.889px;
  background-color: #29679F;
}

.testimonial-button-next, .testimonial-button-prev {
  left: 0;
  right: 0;
  display: flex;
  width: 48.889px !important;
  height: 48.889px !important;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
}

.testimonial-button-next::after, .testimonial-button-prev::after {
  display: none;
}

.testimonial-button-prev svg {
  transform: rotate(180deg);
}

.s-kontak {
  width: 100%;
  height: 700px;
}
.s-kontak .s-kontak-head {
  width: 460px;
  height: 296px;
  position: relative;
  margin-top: 185px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.s-kontak .s-kontak-head .s-kontak-head-path {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #333333;
}
.s-kontak .s-kontak-head .s-kontak-head-path h2 {
  margin-bottom: 0;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}
.s-kontak .s-kontak-head .s-kontak-head-tittle {
  color: #052925;
}
.s-kontak .s-kontak-head .s-kontak-head-tittle h1 {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 158.824% */
  margin-bottom: 20px;
}
.s-kontak .s-kontak-head .s-kontak-hr {
  width: 141px;
  height: 0;
  margin-bottom: 20px;
}
.s-kontak .s-kontak-head .s-kontak-head-deskripsi {
  width: 460px;
  height: 108px;
  color: #052925;
}
.s-kontak .s-kontak-head .s-kontak-head-deskripsi p {
  text-align: left;
  color: #052925;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 36px; /* 180% */
}
.s-kontak .s-kontak-form {
  position: absolute;
  top: 3800px;
  right: 180px;
  background-color: #F8F8F8;
  width: 518px;
  height: 500px;
  border-radius: 20px;
  padding: 40px 40px 29px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.s-kontak .s-kontak-form label {
  align-self: stretch;
  color: #052925;
  font-family: "Outfit", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 147.059% */
  margin-bottom: 10px;
}
.s-kontak .s-kontak-form .form-label-perusahaan {
  margin-top: 29px;
}
.s-kontak .s-kontak-form .form-label-nomor {
  margin-top: 29px;
}
.s-kontak .s-kontak-form input[type=text] {
  margin-bottom: 10px;
  width: 100%;
  height: 53px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #AFAFAF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
  margin-bottom: 0px;
}
.s-kontak .s-kontak-form input[type=text]:focus {
  outline: 2px solid #FAC568;
}
.s-kontak .s-kontak-form .form-input-nomor {
  margin-bottom: 36px;
}
.s-kontak .s-kontak-form button {
  display: flex;
  width: 438px;
  height: 72px;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 36px;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 125% */
  background-color: #FAC568;
  color: #000000;
  border: none;
  border-radius: 9000px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.s-kontak .s-kontak-form button:hover {
  background-color: #e6a700;
}

.s-footer {
  background-color: #15548D;
  width: 100%;
  height: 700px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.s-footer .s-footer-logo {
  position: relative;
  margin-top: 91px;
  width: 192.4px;
  height: 65px;
  margin-bottom: 0;
}
.s-footer .s-footer-logo img {
  width: 100%;
  height: auto;
}
.s-footer .footer-sections {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 63.92px;
  margin-bottom: 61px;
  z-index: 10;
}
.s-footer .footer-sections .section {
  flex: 1;
  z-index: 10;
}
.s-footer .footer-sections .section h4 {
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 31.5px */
  margin-bottom: 15px;
}
.s-footer .footer-sections .section ul {
  list-style: none;
  padding: 0;
}
.s-footer .footer-sections .section ul li {
  margin-bottom: 10px;
}
.s-footer .footer-sections .section ul li a {
  text-decoration: none;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 31.5px */
}
.s-footer .footer-sections .section ul li a:hover {
  text-decoration: underline;
}
.s-footer .social-media {
  display: flex;
  justify-content: left;
  margin-top: 30px;
}
.s-footer .social-media img {
  margin-right: 16px;
  color: white;
  font-size: 20px;
}
.s-footer .social-media img:hover {
  color: #aaa;
}
.s-footer hr {
  background-color: rgba(255, 255, 255, 0.6);
}
.s-footer .s-footer-bottom {
  top: 51px;
  width: 1, 181px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 51px;
  z-index: 10;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform {
  width: 210px;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 0;
  z-index: 10;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul {
  list-style: none;
  margin-bottom: 0;
  height: 78px;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul li {
  list-style: none;
  margin-bottom: 0;
  height: 32px;
  top: 14px;
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul li a {
  color: #FFFFFF;
  text-decoration: underline;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 31.5px */
}
.s-footer .s-footer-bottom .s-footer-bottom-inform ul .inform-down {
  margin-top: 14px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0;
  width: 375.03px;
  height: 56px;
  gap: 16.97px;
  z-index: 10;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector img {
  width: 44.12px;
  height: 44.12px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector .s-footer-bottom-language-selector-select {
  position: relative;
  display: inline-block;
  background-color: #29679F;
  width: 313.94px;
  height: 56px;
  border-radius: 1696.97px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector .s-footer-bottom-language-selector-select select {
  display: flex;
  width: 313.94px;
  height: 56px;
  padding: 8.485px 25.455px;
  justify-content: space-between;
  align-items: center;
  border-radius: 1696.97px;
  -webkit-appearance: none; /* Hapus panah default di Safari dan Chrome */
  -moz-appearance: none; /* Hapus panah default di Firefox */
  appearance: none; /* Hapus panah default di browser lain */
  background-color: #29679F;
  color: rgb(255, 255, 255);
  cursor: pointer;
  color: #FFF;
  font-family: "Outfit", sans-serif;
  font-size: 20.364px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30.545px */
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2222%22%20viewBox%3D%220%200%2021%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20id%3D%22vuesax%2Flinear%2Farrow-down%22%3E%3Cg%20id%3D%22arrow-down%22%3E%3Cpath%20id%3D%22Vector%22%20d%3D%22M17.7687%207.29761L11.6727%2014.1001C10.9528%2014.9034%209.77473%2014.9034%209.0548%2014.1001L2.9588%207.29761%22%20stroke%3D%22white%22%20stroke-width%3D%221.69697%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat right 25px center;
  background-size: 20px;
}
.s-footer .s-footer-bottom .s-footer-bottom-language-selector .s-footer-bottom-language-selector-select select option {
  background-color: #29679F;
  font-family: "Outfit", sans-serif;
  font-size: 20.364px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30.545px */
}
.s-footer .s-footer-copy {
  position: relative;
  width: 534px;
  height: 33px;
  margin-top: 65px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  line-height: 33px;
  text-align: left;
  z-index: 10;
  font-size: 21px;
  font-style: normal;
  line-height: 150%; /* 33px */
}
.s-footer .s-footer-copy a {
  color: #FFFFFF;
}
.s-footer::before {
  content: "";
  position: absolute;
  top: 4631px;
  left: 100px;
  width: 100%;
  height: 459.107px;
  left: auto;
  background: url('data:image/svg+xml;utf8,<svg width="1400" height="402" viewBox="0 0 1400 402" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M-1 69C-1 69 345.069 440.135 992 457" stroke="white" stroke-opacity="0.3"/><path d="M-1 185C-1 185 222.009 411.897 588.236 223.279C845.184 90.9427 1113.85 509.238 1397 455.141" stroke="white" stroke-opacity="0.3"/><path d="M32 403C257.835 231.015 595.32 401.085 859.64 167.026C1123.96 -67.0327 1399 167.026 1399 167.026" stroke="white" stroke-opacity="0.3"/><path d="M675 451.855C675 451.855 939.5 402.614 1021.5 153.663C1103.5 -95.2869 1397 34.933 1397 34.933" stroke="white" stroke-opacity="0.3"/></svg>') no-repeat center center;
  background-size: cover;
  opacity: 0.5;
  z-index: 10;
}/*# sourceMappingURL=style.css.map */